# Python
*.pyc
__pycache__/

# Django
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3
db.sqlite3-journal

# Environment variables
.env

# Static files
/static

# Media files
/media

# macOS
.DS_Store

# Windows
Thumbs.db

# Virtual environments
.venv
env/
